

<p>
  <strong>Mail no:</strong>
  <%= @mail.mail_no %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @mail.issue.name %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @mail.recipient.name %>
</p>

<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mails_path %>

<div class="card">
  <div class="card-header">
  	Mail Histories
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Staff</th>
          <th>Status delivery</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @mail.mail_histories.order(:id).each do |mail_history| %>
          <tr>
          	<td><%= mail_history.status_delivery.created_at.strftime("( %A ) %d %B %Y [ %I:%M:%S %p ]") %></td>
            <td><%= mail_history.staff.name %></td>
            <td><%= mail_history.status_delivery.name %></td>
            <td><%= link_to 'Destroy', [mail_history.mail, mail_history], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<br>

<h3>Update status</h3>
<p id="notice"><%= notice %></p>
<%= form_with(model: [@mail, @mail.mail_histories.build ], local: true) do |form| %>


  <%= form.hidden_field :staff_id, :value => 2 %>

  <div class="field">
    <%= form.label :status_delivery_id %>
    <%= form.select :status_delivery_id, StatusDelivery.all.map{ |d| [d.name, d.id]},  {prompt: "Select status"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
